{% extends "core/base.html" %}

{% load mobile %}

{% block main %}
<form action="{% mobileurl core_post_message %}" method="post">
<div style="font-size:small">
{{ form.message }}
<input type="submit" value="送信" />
</div>
</form>
<div>
{% for message in message_list %}
<div style="background-color:#{% cycle "DDFFDD" "FFFFFF" %};font-size:small">
{{ message.username }}:{{ message.content }} <!--
--><span style="color:#CC7777">{{ message.ctime|time:"H:i" }}</span><!--
--> <a href="{% mobileurl core_reply_message message.message_id %}">@</a><!--
--> {% if message.is_protected %}{% emoji "LOCK" %}{% else %}<a href="{% mobileurl core_retweet_message message.message_id %}">RT</a>{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
