{% extends "core/base.html" %}

{% load mobile %}

{% block header %}
<div>
この発言に返信
</div>
{% endblock %}

{% block main %}
<div style="background-color:#{% cycle "DDFFDD" "FFFFFF" %};font-size:small">
{{ message.username }}:{{ message.content }} <span style="color:#CC7777">{{ message.ctime|time:"H:i" }}</span>{% if message.is_protected %} {% emoji "LOCK" %}{% endif %}
</div>
<form action="{% mobileurl core_post_message %}" method="post">
<div style="font-size:small">
{{ form.message }}
<input type="submit" value="送信" /><br />
{{ form.reply_id }}
</div>
</form>
{% endblock %}
