{% load mobile %}<?xml version="1.0" encoding="{% mobile_encoding %}"?>
<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/1.1) 1.0//EN" "i-xhtml_4ja_10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset={% mobile_encoding %}" />
<title>{% block title %}{% endblock %}</title>
</head>
<body style="margin:0px;padding:0px;font-size:small;">
{% block header %}{% endblock %}
{% block main %}{% endblock %}
</body>
</html>
